*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

input,
button {
  border: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: all 0.3s ease;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
}

.header {
  height: 80px;
  background: #000000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.header .container {
  display: flex;
  align-items: center;
}
.header h1 {
  display: none;
}

.header-logo-wrapper {
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  text-align: center;
  padding-top: 3px;
}

.header-logo {
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  color: #FFFFFF;
}
.header-logo span {
  position: relative;
}

.logo-img {
  position: absolute;
  bottom: 4px;
  left: -4px;
}

.nav {
  margin-left: 63px;
}
.nav ul {
  display: flex;
  padding: 0;
}

.nav-item {
  list-style: none;
  margin-left: 58px;
}
.nav-item:first-child {
  margin-left: 0;
}
.nav-item:first-child a {
  color: #F9804B;
  pointer-events: none;
  cursor: default;
}
.nav-item a {
  color: #FFFFFF;
  position: relative;
}
.nav-item a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.5s;
}
.nav-item a:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  bottom: -3px;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.5s;
}

.header-link {
  margin-left: auto;
}
.header-link a {
  color: #FFFFFF;
}

.hero {
  position: relative;
  height: 700px;
  background: #283035 url("../../assets/images/Giant Panda.jpg") no-repeat;
  background-position: center -80px;
  padding-top: 86px;
}

.circle {
  position: absolute;
  right: 327px;
  top: 11px;
  content: "";
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.hero-text {
  position: absolute;
  right: 220px;
  top: 86px;
  width: 500px;
  max-width: 100%;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hero-text span {
  color: #FFEE2E;
}

.hero-btn {
  display: inline-block;
  position: absolute;
  bottom: 100px;
  right: 317px;
}

.btn {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.btn:hover {
  transform: scale(1.2);
}

.backstage {
  position: relative;
  padding-top: 140px;
  padding-bottom: 106px;
}
.backstage .content {
  display: flex;
}

.backstage-image {
  display: block;
  width: 609px;
  max-width: 100%;
  background: url("../../assets/images/bamboo-cap.jpg");
}

.backstage-text {
  margin-left: 87px;
  width: 465px;
  max-width: 100%;
  height: 403px;
  font-weight: 400;
  color: #333B41;
}
.backstage-text h2 {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.5px;
}
.backstage-text .descr {
  margin-top: 20px;
  font-size: 16px;
  line-height: 130%;
}
.backstage-text .subtitle {
  margin-top: 54px;
  font-size: 24px;
  line-height: 120%;
}
.backstage-text .text {
  margin-top: 34px;
  font-size: 16px;
  line-height: 140%;
}

.bacstage-flowers {
  position: absolute;
  top: 12px;
  right: -89px;
  width: 293px;
  height: 605px;
  background: url("../../assets/images/flower_foto1.jpg");
}/*# sourceMappingURL=style.css.map */