@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

input,
button {
  border: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: all 0.3s ease;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
}

.header {
  height: 80px;
  background: #000000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.header .container {
  display: flex;
  align-items: center;
}
.header h1 {
  display: none;
}

.header-logo-wrapper {
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  text-align: center;
  padding-top: 3px;
}

.header-logo {
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  color: #FFFFFF;
}
.header-logo span {
  position: relative;
}

.logo-img {
  position: absolute;
  bottom: 4px;
  left: -4px;
}

.nav {
  margin-left: 63px;
}
.nav ul {
  display: flex;
  padding: 0;
}

.nav-item {
  list-style: none;
  margin-left: 58px;
}
.nav-item:first-child {
  margin-left: 0;
}
.nav-item:first-child a {
  color: #F9804B;
  pointer-events: none;
  cursor: default;
}
.nav-item a {
  color: #FFFFFF;
  position: relative;
}
.nav-item a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.5s;
}
.nav-item a:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  bottom: -3px;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.5s;
}

.header-link {
  margin-left: auto;
}
.header-link a {
  color: #FFFFFF;
}

.hero {
  position: relative;
  height: 700px;
  background: #283035 url("../../assets/images/Giant Panda.jpg") no-repeat;
  background-position: center -80px;
  padding-top: 86px;
}

.circle {
  position: absolute;
  right: 327px;
  top: 11px;
  content: "";
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.hero-text {
  position: absolute;
  right: 220px;
  top: 86px;
  width: 500px;
  max-width: 100%;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hero-text span {
  color: #FFEE2E;
}

.hero-btn {
  display: inline-block;
  position: absolute;
  bottom: 100px;
  right: 317px;
}

.btn {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.btn:hover {
  transform: scale(1.2);
}

.backstage {
  position: relative;
  padding-top: 140px;
  height: 617px;
  overflow: hidden;
}
.backstage .content {
  display: flex;
}

.backstage-image {
  display: block;
  width: 609px;
  max-width: 100%;
  background: url("../../assets/images/bamboo-cap.jpg");
}

.backstage-text {
  margin-left: 87px;
  width: 465px;
  max-width: 100%;
  height: 403px;
  font-weight: 400;
  color: #333B41;
}
.backstage-text h2 {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.5px;
}
.backstage-text .descr {
  margin-top: 20px;
  font-size: 16px;
  line-height: 130%;
}
.backstage-text .subtitle {
  margin-top: 54px;
  font-size: 24px;
  line-height: 120%;
}
.backstage-text .text {
  margin-top: 34px;
  font-size: 16px;
  line-height: 140%;
}

.bacstage-flowers {
  position: absolute;
  top: 12px;
  right: -89px;
  width: 293px;
  height: 605px;
  background: url("../../assets/images/flower_foto1.jpg");
}

.animal-cards {
  position: relative;
}
.animal-cards .container {
  max-width: 1158px;
  padding-bottom: 100px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 426px 426px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
  margin-top: 106px;
}

.card {
  position: relative;
  border: 1px solid transparent; /*Обводка нужной толщины, но прозрачная*/
  background: linear-gradient(#FA6F32, #FE9013); /*Нужный градиент в качестве фона*/
  box-shadow: inset 0px 0px 0px 100vw #fff; /*Тень направленная внутрь контейнера, перекрывает ненужный фон и оставляет только рамку*/
  border-radius: 5px; /*Скругляет углы*/
  color: #000000;
  overflow: hidden;
}
.card h3 {
  margin-top: 7px;
  margin-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}
.card p {
  margin-left: 16px;
  margin-top: -2px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

.animal-image {
  width: 366px;
  height: 366px;
}

.card:first-child .animal-image {
  background: url("../../assets/images/panda.jpg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card:nth-child(2) .animal-image {
  background: url("../../assets/images/eagle.jpg");
}

.card:nth-child(3) .animal-image {
  background: url("../../assets/images/gorillas.jpg");
}

.card:nth-child(4) .animal-image {
  background: url("../../assets/images/sloth.jpg");
}

.card:nth-child(5) .animal-image {
  background: url("../../assets/images/cheetahs.jpg");
}

.card:last-child .animal-image {
  background: url("../../assets/images/penguins.jpg");
}

.banana,
.meat {
  position: absolute;
}

.banana {
  width: 33px;
  height: 37px;
  right: 12px;
  bottom: 12px;
  background: url("../../assets/icons/banana-bamboo_icon.svg");
}

.meat {
  width: 48px;
  height: 38px;
  right: 8px;
  bottom: 13px;
  background: url("../../assets/icons/meet-fish_icon.svg");
}

.animal-cards-btn {
  margin-top: 80px;
  text-align: center;
}

.paln-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 292px;
  height: 460px;
  background: url("../../assets/images/palm_foto.png");
}

.strelitzia-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 368px;
  height: 275px;
  background: url("../../assets/images/strelitzia 1.png");
}

.pick {
  height: 1004px;
  padding-top: 69px;
  padding-bottom: 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}
.pick .container {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding-top: 41px;
  padding-left: 99px;
}
.pick .container h2 {
  margin-left: -99px;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
}
.pick .container .subtitle {
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}
.pick .container p:nth-child(3) {
  margin-top: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}
.pick .container p:nth-child(4) {
  position: relative;
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}
.pick .container p:nth-child(4)::after {
  position: absolute;
  bottom: -2px;
  left: 86px;
  content: "";
  width: 178px;
  height: 1px;
  background: #FE9013;
}
.pick .container h3 {
  margin-top: 60px;
  margin-left: -99px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  text-align: center;
}

.card-container {
  margin-top: 40px;
  margin-left: 99px;
  width: 764px;
  display: grid;
  grid-template-columns: 168px 130px 168px 130px 168px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.card1 .card-image {
  width: 168px;
  height: 168px;
  border: 1px solid #F9804B;
  border-radius: 5px;
  background: #fff url("../../assets/icons/pay.svg") no-repeat center;
}
.card1 p {
  margin-top: 30px;
}

.card2 .card-image {
  width: 168px;
  height: 168px;
  border: 1px solid #F9804B;
  border-radius: 5px;
  background: #fff url("../../assets/icons/zoo.svg") no-repeat center;
}
.card2 p {
  margin-top: 30px;
}

.card3 .card-image {
  width: 168px;
  height: 168px;
  border: 1px solid #F9804B;
  border-radius: 5px;
  background: #fff url("../../assets/icons/monkey.svg") no-repeat center;
}
.card3 p {
  margin-top: 30px;
}

.arrow1,
.arrow2 {
  margin: 60px auto;
  width: 69px;
  height: 37px;
  background: url("../../assets/icons/arrow.svg");
}

.arrow2 {
  margin-top: 56px;
}

.pick-btn {
  margin-left: 332px;
  margin-top: 60px;
}/*# sourceMappingURL=style.css.map */